* {
    margin: 0;
    line-height: 150%;
    letter-spacing: 0;
}

@font-face {
    font-family: "young-serif";
    src: url(../fonts/young-serif/YoungSerif-Regular.ttf);
}

@font-face {
    font-family: "outfit";
    src: url(../fonts/outfit/Outfit-VariableFont_wght.ttf);
}

html {
    background: hsl(38, 100%, 87%);
    font-family: "outfit";
    font-weight: 400;
    font-size: 0.95rem;
    color: hsl(30, 10%, 34%);
}

main {
    background: hsl(0, 0%, 100%);
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}

.title-1 {
    font-family: "young-serif";
    font-weight: 600;
    font-size: 2rem;
    color: hsl(24, 5%, 18%);
    margin: 20px 20px 10px ;
    line-height: 100%;
}

.title-2 {
    font-family: "young-serif";
    font-weight: 600;
    font-size: 1.5rem;
    color: hsl(14, 45%, 36%);
    margin: 20px 20px 5px ;
    line-height: 150%;
}

.title-3 {
    font-family: "outfit";
    font-weight: 600;
    font-size: 1.25rem;
    color: hsl(332, 51%, 32%);
    margin: 20px 20px 5px;
}

.description {
    font-family: "outfit";
    font-weight: 400;
    font-size: 1rem;
    color: hsl(30, 10%, 34%);
    margin: 10px 20px 10px;
}

ul, ol {
    margin: 0 20px 10px;
    list-style-position: outside;
}

li {
    margin-top: 5px;
}

/* Intro section */
.intro img {
    width: 100%;
}

/* Prep section */
.prep {
    background: hsl(330, 100%, 98%);
    margin: 20px;
    border-radius: 10px;
}

/* Ingredients section */


/* Instruction section */


/* Nutrition section */
.nutrition {
    padding: 20px;
}

.nutrition > .description {
    margin-left: 0;
    margin-right: 0;
}

.nutrition > .title-2 {
    margin-left: 0;
    margin-right: 0;
}

table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
}

table td {
    border-bottom: 2px solid black;
    padding: 5px;
}

.value {
    font-family: "outfit";
    font-weight: 600;
    font-size: 0.9rem;
    color: hsl(14, 45%, 36%);
}


/* Footer */
footer {
    display: flex;
    flex-direction: column;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width:48em) {
    main {
        width: 75%;
        max-width: 650px;
        margin: 5% auto;
        border-radius: 20px;
        padding: 10px;
    }

    .intro img {
        margin: 20px;
        width:90%;
        align-self: center;
    }
}